# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Output
*.out
*.txt

# Sphinx documentation
docs/_build/

# dataset
#dataset/
dataset/**/[0-9]*.csv
dataset/**/*.pt
dataset/gqa/val_sceneGraphs.json
dataset/gqa/train_sceneGraphs.json

# logs and results
logs/
output/

# wandb
wandb/

.vscode/
